/* =============
    Section 1
============= */
#section-1{
    background-image: url('../img/main_slide_21.jpg');
    background-position: center;
    background-size: cover;
    height: 560px;
    
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-1 .";
    padding: 80px 0;

    >div {
        grid-area: section-1;
        text-align: center;

        h1 {
            font-family: 'Comfortaa', sans-serif;
            font-size: rem-calc(40);
            color: $blue;
            margin: 0;
        }

        p {
            font-family: 'Comfortaa', sans-serif;
            font-size: rem-calc(24);
            color: $teal;
            margin: 0;
        }

        h2 {
            font-family: 'Comfortaa', sans-serif;
            font-size: rem-calc(28);
            color: $white;
            margin: 300px 150px;
            border: 3px solid;
            border-color: $white;
            border-radius: 100px;
            padding: 70px 0;
        }
    }
}
